.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--q-nav-border);
  padding: .5rem;
  position: relative;
  box-sizing: border-box;
}
.nav-item:first-child {
  border-top: 1px solid var(--q-nav-border);
}

.nav-item:hover {
  background-color: var(--q-nav-bg-hover);
  color: var(--q-a-hover);
  text-decoration: none;
}

.nav-item:global(.active) {
  background-color: var(--q-nav-bg-active);
  color: var(--q-color-inverse);
}

.nav-item:global(.active):hover {
  background-color: var(--q-nav-bg-active-hover);
}

.icon {
  font-size: 3rem;
  padding: .5rem;
  width: 5rem;
  text-align: center;
}

.badge {
  position: absolute;
  background: var(--q-nav-bg-active);
  color: var(--q-color-inverse);
  font-weight: bolder;
  border-radius: 20px;
  padding: 3px;
  font-size: .8rem;
  top: 0.50rem;
  left: 5.25rem;
  min-width: 1.5em;
  text-align: center;
}
[dir=rtl] .badge {
  left: unset;
  right: 5rem;
}
.nav-item:global(.active) .badge {
  background: var(--q-color-inverse);
  color: var(--q-nav-bg-active);
}

.description {
  margin-inline-start: 2rem;
}
