.item {
  color: var(--q-color);
}

.selector {
  display: flex;
  border-radius: 1.5em;
  padding: 0.1em;
  background-color: var(--q-nav-bg-hover);
}
.selector button {
  background-color: var(--q-nav-bg);
  border-radius: 1.5em;
  margin: 0 0.1em;
  padding: 0.25em 0.25em 0.10em 0.25em;
  width: 2em;
  height: 2em;
}
.selector.dark button.dark,
.selector.light button.light {
  background-color: var(--q-theme-strong);
  color: var(--q-color-inverse);
}
