.aside-box {
  padding: 0 0 1rem 0;
  margin: 1rem;
  border-bottom: 1px solid var(--q-nav-border);
}
.networks {
  display: flex;
  justify-content: space-around;
}
.users {
  display: flex;
}
.asides {
  overflow: hidden;
}
.debug {
  font-family: monospace;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: x-small;
  color: var(--q-color);
}
