
{{!-- network modules information --}}
<div local-class="networks aside-box">
  <LinkTo @route="index"><FaIcon @icon="network-wired" /></LinkTo>
  <LinkTo @route="index"><FaIcon @icon="wifi" /></LinkTo>
  <LinkTo @route="index"><FaIcon @icon="bluetooth" @prefix="fab" /></LinkTo>
</div>

{{!-- favorite user information --}}
{{!--
<div local-class="users aside-box">

</div>
--}}

{{!-- logs (last messages & actions) --}}
{{!--
<div local-class="logs aside-box">

</div>
--}}

{{!-- only for developing: debug information --}}
<div local-class="debug aside-box">
  some debugging information
  which can be handy while developing the application
</div>