.header {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.title {
  width: 100%;
  font-weight: normal;
  text-align: center;
  margin: 1rem;
}

.back {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
}

[dir="rtl"] .back svg {
  transform: scale(-1, 1)
}
