:global(#settings) {
    padding: 1rem;
}

.user-icon {
    float:left;
}
.user-name {
    float:left;
    font-weight: bold;
    font-size: 3rem;
    margin-right: 1rem;
}
.edit {
    /*float:right;*/
    padding:1rem;
}



/* selection panel */
.panel {
	/*clear: both;*/
    margin: 3rem 0;
}
.panel .item.name {
    font-weight: normal;
    font-size: smaller;
    background-color: var(--q-nav-bg);
}
.panel .item .icon {
    float: right;
}
.panel .item {
	font-weight: bold;
    border: solid 0.1rem var(--q-nav-border);
    border-bottom-width: 0;
    display: block;
    color: var(--q-nav-color);
    padding: 0.7rem 1.2rem;
}
.panel .item:first-child {
	/*border-radius: 1.5rem 1.5rem 0 0;*/
}
.panel .item:last-child {
	/*border-radius: 0 0 1.5rem 1.5rem;*/
	border-bottom-width: 0.1rem;
}
.panel .item:only-child {
	/*border-radius: 1.5rem;*/
	margin: 1rem;
}
.panel a.item:hover {
    text-decoration: none;
    background-color: var(--q-nav-bg-hover);

}
