<div class="page">
  <h1>{{fa-icon "info-circle"}} {{t "info.information"}}</h1>

  <div local-class="info panel">
    <a local-class="item" href=""><span local-class="icon"><FaIcon @icon="info-circle" /></span>{{t "info.aboutQaulNet"}}</a>
    <a local-class="item" href=""><span local-class="icon"><FaIcon @icon="info-circle" /></span>{{t "info.howto"}}</a>
  </div>
</div>