# CMake Related
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
QaulConfig.h

# Build Folders
third_party/olsr/
third_party/pjsip/
third_party/socat/
third_party/wt/
build/

# Android 
android/bin/
android/build.xml
android/gen/
android/libs/
android/local.properties
android/obj/
android/proguard-project.txt
android/res/raw/ifconfig
android/res/raw/iptables
android/res/raw/iwconfig
android/res/raw/olsrd
android/res/raw/olsrd_qaul_so_0_1
android/res/raw/socat
android/res/raw/tether
android/res/raw/wificonfig

# IDE Settings
/.project
/.idea
