# local configuration files
config.toml
default.json
config.yaml
node.db/
12D3KooW*/
logs/
version
.vscode/ 

# generated SBOM files
*.cdx.json
*.spdx.json

# android artifacts
android/app/debug
android/app/profile
android/app/release
android/app/src/main/jniLibs

# android-studio specific
*.iml
*.ipr
*.iws
.idea/

# Visuals Studio
.vs/

# MacOS specific
.DS_Store
qaul_ui/macos/*.app
utilities/installers/macos/*.app
utilities/installers/macos/*.dmg
utilities/installers/macos/*.jsonsed
