<div class="page">

  <div local-class="input-area">
    <input placeholder={{t "search"}}>
  </div>

  <div local-class="contacts">
    {{#each @model as |user|}}
      <User::ListItem @user={{user}} />
    {{/each}}
  </div>
</div>