<div local-class="input">
  <Input placeholder="Aa" local-class="text"/>
  <button type="button" {{!on "click" this.submit}} local-class="button" title="{{t "send"}}">
    <FaIcon @icon="chevron-circle-right" />
  </button>
</div>