.plus {
  background-color: var(--q-theme-strong);
  color: var(--q-bg);
  font-size: 2.25rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding-top: 0.4rem;
  position: absolute;
  bottom: 4rem;
  right: 5rem;
}
[dir="rtl"] .plus {
  left: 5rem;
  right: unset;
}
.plus:hover {
  background-color: var(--q-theme-strong-hover);
  color: var(--q-bg);
}
