[Desktop Entry]
Name=qaul.net – قول
Version=1.0b4
Exec=/opt/qaul/bin/qaul-gtk
Comment=
Icon=/opt/qaul/qaul_app_icon.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Internet;Network;

