<LinkTo @route={{@route}} local-class="nav-item">
  {{#if @badge}}
    <div local-class="badge">{{@badge}}</div>
  {{/if}}
  <div local-class="icon">
    <FaIcon @icon={{@icon}} />
  </div>
  {{#if @showAll}}
    <div local-class="description">
      {{t @text}}
    </div>
  {{/if}}
</LinkTo>