<LinkTo @route={{@route}} local-class="nav-item">
  {{#if @badge}}
    <div local-class="badge">{{@badge}}</div>
  {{/if}}
  <FaIcon @icon={{@icon}} local-class="icon" />
  {{#if @showAll}}
    <div local-class="description">
      {{t @text}}
    </div>
  {{/if}}
</LinkTo>