name: qaul_ui
description: qaul - Internet Independent Wireless Mesh Communication App

publish_to: "none"

version: 2.0.0-rc.5+1383

environment:
  sdk: ">=3.9.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  archive: ^4.0.2
  badges: ^3.1.2
  collection: ^1.19.1
  cupertino_icons: ^1.0.6
  device_info_plus: ^12.3.0
  equatable: ^2.0.7
  ffi: ^2.1.5
  file_picker: ^10.3.8
  fixnum: ^1.1.0
  flame: ^1.34.0
  flame_forge2d: ^0.19.2+2
  fluent_ui: 4.9.1
  flutter_chat_types: ^3.6.2
  flutter_chat_ui: ^1.6.10
  flutter_email_sender: ^8.0.0
  flutter_hooks: ^0.21.3+1
  flutter_svg: ^2.2.3
  font_awesome_flutter: ^10.12.0
  hooks_riverpod: ^3.2.0
  image: ^4.1.3
  image_picker: ^1.2.1
  infinite_scroll_pagination: ^5.1.1
  intl: ^0.20.2
  local_notifications: { "path": "packages/local_notifications" }
  logging: ^1.2.0
  meta: ^1.9.1
  mime: ^2.0.0
  neat_periodic_task: ^2.0.1
  package_info_plus: ^9.0.0
  path: ^1.9.1
  path_provider: ^2.0.15
  qaul_rpc: { "path": "packages/qaul_rpc" }
  responsive_framework: ^1.1.0
  shared_preferences: ^2.5.4
  url_launcher: ^6.1.14
  utils: { "path": "packages/utils" }
  flutter_markdown_plus: ^1.0.0
  record: ^6.0.0
  audioplayers: ^6.1.1
  app_links: ^7.0.0
  open_filex: ^4.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  build_runner: ^2.4.6
  fast_base58: ^0.2.1
  flutter_launcher_icons: ^0.14.3
  flutter_lints: ^6.0.0
  uuid: ^4.5.2

flutter_icons:
  ios: true
  remove_alpha_ios: true
  image_path_ios: "assets/logo/icon_ios.png"

  android: true
  image_path_android: "assets/logo/icon_android.png"
  adaptive_icon_foreground: "assets/logo/icon_android.png"
  adaptive_icon_background: "#5EAED4"

  windows:
    generate: true
    image_path: "assets/logo/icon_desktop.png"
    icon_size: 256

  macos:
    generate: true
    image_path: "assets/logo/icon_desktop.png"

flutter:
  uses-material-design: true

  generate: true

  assets:
    - assets/about/
    - assets/icons/
    - assets/license/
    - assets/logo/
