.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 4rem;
  background-color: #eee;
  border-top: 0.1rem solid #ccc;
}

.nav-bar a {
  display:block;
  float:left;
  width:25%;
  margin:0;
  padding:0;
}

/* FIXME: .active becomes _active_jp67dt */
.nav-bar a.active {
  background-color:#3388cc;
}
.nav-bar a:hover {
  background-color:#ccc;
  text-decoration:none;
}

.nav-bar a i {
  display:block;
  padding:1rem;
  border-left:0.1rem solid #ccc;
  text-shadow: -1px -1px 0 #666;
  color:#aaa;
}
.nav-bar a:first-child i {
  border:0;
}
