# Do not check in this file
# It is for my personal development
# Before merging, delete this file and every
#   file that is being ignored by it
# ~spacekookie

www/call_event
www/config_files_get
www/config_files_set
www/config_interface_get
www/config_interface_loading
www/config_interface_set
www/config_internet_get
www/config_internet_loading
www/config_internet_set
www/config_network_get
www/config_network_profile
www/config_network_set
www/ext_binaries.json
www/fav_add.json
www/fav_del.json
www/fav_get.json
www/file_add.json
www/file_delete.json
www/file_list.json
www/file_pick.json
www/file_pickcheck.json
www/file_schedule.json
www/getconfig.json
www/getevents.json
www/getmsgs.json
www/getname.json
www/gettopology.json
www/getusers.json
www/images/tmp_usricons.png
www/loading.json
www/pub_info.json
www/quit
www/sendmsg
www/set_wifiset.json
www/setlocale
www/setname
www/setopenurl.json
www/setpagename
www/test_screensize.html
www/web_getfiles
www/web_getmsgs
www/web_getusers
www/web_sendmsg
