.icon {
  position: relative;
  width:  1.6em;
  height: 1.6em;
  border-radius: 50%;
  background-color: var(--q-theme-light);
  background-repeat: no-repeat;
  background-size: cover;
}
.trusted .icon {
  /*border: 0.2em solid var(--q-theme-strong);*/
}
.icon img {
  width: 100%;
  border-radius: 50%;
}

.status {
  width: 0.3em;
  height: 0.3em;
  background-color: var(--q-available);
  border: 0.1em solid var(--q-bg);
  border-radius: 50%;
  position: absolute;
  top: -0.1em;
  left: -0.1em;
}
