<div local-class="root">
  <div aria-hidden="true" local-class="topbar-mobile" class="topbar">
    <Nav::DynamicNav />
    <Aside::DynamicAside />
  </div>

  <main local-class="main">{{yield}}</main>
</div>