<div local-class="chat-container">

<Messenger::ChatHeader @room={{this.room}} />

<div local-class="chat">
{{#each this.messages as |message|}}
  <Messenger::ChatBubble @message={{message}} />
{{/each}}
</div>

<Messenger::ChatInput />

</div>