
{{!-- network modules information --}}
<div local-class="networks aside-box">
  {{#link-to "index"}}<FaIcon @icon="network-wired" />{{/link-to}}
  {{#link-to "index"}}<FaIcon @icon="wifi" />{{/link-to}}
  {{#link-to "index"}}<FaIcon @icon="bluetooth" @prefix="fab" />{{/link-to}}
</div>

{{!-- favorite user information --}}
{{!--
<div local-class="users aside-box">

</div>
--}}

{{!-- logs (last messages & actions) --}}
{{!--
<div local-class="logs aside-box">

</div>
--}}

{{!-- only for developing: debug information --}}
<div local-class="debug aside-box">
  some debugging information
  which can be handy while developing the application
</div>