
{{!-- network modules information --}}
<div local-class="networks">
  {{#link-to "index"}}{{fa-icon "network-wired"}}{{/link-to}}
  {{#link-to "index"}}{{fa-icon "wifi"}}{{/link-to}}
  {{#link-to "index"}}{{fa-icon "bluetooth"}}{{/link-to}}
</div>

{{!-- favorite user information --}}
<div local-class="users">
  {{#link-to "users"}}{{fa-icon "address-book"}}{{/link-to}}
</div>

{{!-- logs (last messages & actions) --}}
<div local-class="logs">

</div>

{{!-- only for developing: debug information --}}
<div local-class="debug">
  some debugging information
  which can be handy while developing the application
</div>