<div local-class="user-icon" class="{{if @user.online "online"}} {{if @user.trust "trusted"}}">
  <img local-class="icon" src={{@user.avatar}} alt="user icon">
  <div local-class="status"></div>
</div>