/* qaul.net GUI CSS */

/* set root font size */
html {
	font-size:10px;
}

html[dir="rtl"],
html[dir="rtl"] body {
  direction: rtl;
}
html[dir="ltr"],
html[dir="ltr"] body {
  direction: ltr;
}


/* define global elements */
body  {
	font-size:1.8rem;
	font-family: helvetica, sans-serif;
	margin:0;
  padding:0;
}
h1, h2, h3, h4, h5, h6, p, li, label {
  color: var(--q-color);;
}
a {
	text-decoration:none;
	color:var(--q-a);
}
a:hover {
  text-decoration:underline;
  color:var(--q-a-hover);
}
img {
	border:none;
}


/* forms */
input {
    display:block;
    width:100%;
    padding:0.3em 0.1em;
    text-indent:5px;
    border: 0.1rem solid var(--q-nav-border);
    border-radius:0.3rem;
    font-size:1.6rem;
    font-family:inherit;
    background-color: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin:0.5rem 0rem 1.0rem 0rem;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: var(--q-a);
}
button:hover {
  color: var(--q-a-hover);
}
