/* media query variables */
:root {
  /* screen sizes */
  --view-mobile:  37.5rem; /* 600px */
  --view-tablet:  48rem; /* 768px */
  --view-tablet2: 53rem; /* 850px */
  --view-desk:    62rem; /* 992px */
  --view-desk2:   75rem; /* 1200px */

  /* colors */
  --q-online: #5bdb71;


  /* somehow not working variables from
     app/services/style.js
  */
   /* over-all background */
   --q-bg:#ffffff;

   /* theme color */
   --q-theme-strong:#0089c7;
   --q-theme-strong-hover:#0076ab;   --q-theme-middle:#d1e4f1;
   --q-theme-light:#d1e4f1;

   /* text color */
   --q-color:#666;
   --q-color-title:#333;
   --q-color-inverse: #fff;

   /* hyperlinks */
   --q-a:#6399cc;
   --q-a-hover:#6399cc; /* hover when there is underlining */
   --q-a-hover-nounderline:#000; /* hover when there is no underlining */

   /* user availability */
   --q-available:limegreen;


   --q-border:#989898;
   --q-nav-bg:#f6f6f6;
   --q-nav-bg-hover:#ececec;
   --q-nav-border:#cccccc;
   --q-nav-color:#363636;
   --q-nav-bg-active:var(--q-theme-strong);
   --q-nav-bg-active-hover:var(--q-theme-strong-hover);
   --q-nav-icon:#8a8a8a;
   --q-nav-icon-shadow:#1c1c1c;
   --q-input-hint:#cccccc; /* hint text in the unselected input text field */
   --q-bar-bg:#666;
   --q-bar-border:#aaa;

}
