.input-area input {
    color:#ccc;
}

.subnavigation {
    clear: both;
}
.subnavigation a {
    display: block;
    float: left;
    width: 25%;
    margin: 0.5rem 0;
}
.subnavigation a:hover {
    text-decoration: none;
    color: #000;
}
.subnavigation a i {
    display: block;
    border-right: 0.1rem solid #ccc;
    text-align: center;
}
.subnavigation a:last-child i {
    border-right: 0;
}

.contacts {
    padding-top: 4rem;
}
.user {
    clear: both;
    padding: 2rem 0;
}
.user-icon {
    float: left;
    margin-right: 1.5rem;
    width: 5rem;
    height: 5rem;
}
.user-avatar {
    width: 5rem;
    height: 5rem;
    background-color: #d1e4f1;
    position:absolute;
}
.user-trust {
    position: absolute;
    bottom: -1rem;
    right: -0.5rem;
}
.user-online {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}
.user-menu {
    float:right;
}
