body {
	margin:0;
	padding:0;
}

#header {
  z-index:999;
  position:fixed;
  width:100%;
  margin:0;
  padding:5px;
  text-align:center;
  font-family:sans-serif;
  color:#000;
  background:#ccc;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#good {
  fill: #000;
}

.link.good {
  stroke: #000;
}

.link.bad {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

text.name {
	font-size: 14px;
	font-weight: bold;
}

