<div local-class="input-area">
  <input />
  <button>Senden</button>
</div>

<div local-class="messages">
  {{#each model as |message|}}
    <div local-class="message">
      <div local-class="message-name">{{message.senderName}}</div>
      <div local-class="message-time">{{moment-from-now message.timestamp}}</div>
      <div local-class="message-content">{{message.content}}</div>
    </div>
  {{/each}}
</div>