<div local-class="input-area">
  <input />
  <button>Senden</button>
</div>

<div local-class="messages">
  <div local-class="message">
    <div local-class="message-name">Lux</div>
    <div local-class="message-time">19:22</div>
    <div local-class="message-content">Welcome to the new world</div>
  </div>
  <div local-class="message">
    <div local-class="message-name">Lux</div>
    <div local-class="message-time">19:22</div>
    <div local-class="message-content">Welcome to the new world</div>
  </div>
  <div local-class="message">
    <div local-class="message-name">Lux</div>
    <div local-class="message-time">19:22</div>
    <div local-class="message-content">Welcome to the new world</div>
  </div>
</div>