[package]
name = "libqaul"
version = "2.0.0-rc.2"
authors = ["qaul community <contact@qaul.net>"]
edition = "2021"
license = "AGPL"

[lib]
name = "libqaul"
crate-type = ["cdylib", "staticlib", "rlib"]

[features]
default = []

[dependencies]
libp2p = { version = "0.55", features = ["async-std", "macros", "floodsub", "identify", "mdns", "noise", "ping", "tcp", "yamux", "quic", "dns", "macros"] }
async-std = { version = "1.13", features = ["attributes"] }
futures = "0.3"
serde = {version = "1.0", features = ["derive"] }
serde_json = "1.0"
once_cell = "1.20"
log = "0.4"
pretty_env_logger = "0.5"
simplelog = "0.12"
multi_log = "0.1"
filetime = "0.2"
bincode = "1.3"
config = "0.15"
lazy_static = "1.5"
toml = "0.8"
base64 ="0.22"
state = "0.6"
humantime = "2.1"
tracing = "0.1"
void = "1.0"
wasm-timer = "0.2"
rand = "0.9"
prost = "0.13"
libc = "0.2"
crossbeam-channel = "0.5"
bs58 = "0.5"
futures-ticker = "0.0.3"
jni = "0.21"
serde_yaml = "0.9"
sled = "0.34.7"
uuid = { version = "1.13", features = ["v4"] }
ed25519-dalek = "2.1.1"
x25519-dalek = "2.0.1"
curve25519-dalek = "4.1.3"
sha2 = "0.10"
noise-protocol = { git = "https://github.com/qaul/noise-rust.git", branch = "libqaul/noise-rust-crypto-v0.6.3" }
noise-rust-crypto = { git = "https://github.com/qaul/noise-rust.git", branch = "libqaul/noise-rust-crypto-v0.6.3", features = ["use-x25519", "use-chacha20poly1305", "use-sha2"] }
crc = "3.2"
fs_extra = "1.3"
semver = "1.0"

# only for desktop platforms: Linux, Mac, Windows
directories = "6.0"

# internal references
qaul_info = { path = "../libp2p_modules/qaul_info" }
qaul_messaging = { path = "../libp2p_modules/qaul_messaging" }

[build-dependencies]
prost-build = "0.13"

# special setting for android
[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.14"

# linting rules
[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(emulate)'] }
