<div local-class="root">
  <nav local-class="nav">
    <div local-class="sticky">
      <Nav::Nav @showAll={{true}} />
    </div>
  </nav>

  <main local-class="main">{{yield}}</main>

  <aside local-class="aside">
    <div local-class="sticky">
      <Aside::Aside />
    </div>
  </aside>
</div>