<div local-class="root">
  <div aria-hidden="true" local-class="topbar-main" class="topbar">
  </div>

  <Nav::TabletNav local-class="nav" />

  <main local-class="main">{{yield}}</main>

  <aside local-class="aside">
    <Aside::Aside />
  </aside>
</div>