@value topbar-height from './tablet';

.topbar {
  position: fixed;
  width: 100%;
  height: topbar-height;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--q-theme-strong);
}
.topbar button {
  color: var(--q-color-inverse);
  margin: 0 1rem;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 50%;
  z-index: 5;
}

.main {
  margin-top: topbar-height;
}
