@value topbar-height from './layout-global.css';

.root {
  composes: root from './layout-global.css';
}

.topbar-mobile {
  position: fixed;
  width: 100%;
  height: topbar-height;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--q-theme-strong);
}
.topbar-mobile button:hover {
  color: var(--q-color-inverse);
}

.main {
  composes: main from './layout-global.css';
  margin-top: calc(topbar-height);
}
