@value topbar-height from './tablet';
@value tablet-max from './tablet';

.log {
  width: 300px;
  height: 100vh;
  background-color: var(--q-nav-bg);
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 100;
}
.log.show {
  animation: slide-ltr 0.8s ease-out;
  left: calc(100vw - 300px);
}
.log.show.out, .log.out {
  animation: slide-out-ltr 0.8s ease-out reverse;
  left: 100vw;
}
[dir="rtl"] .log.show {
  animation: slide-rtl 0.8s ease-out;
  left: 0;
}
[dir="rtl"] .log.show.out {
  animation: slide-rtl 0.8s ease-out reverse;
  left: -300px;
}

@keyframes slide-ltr {
  0% {
    left: 100vw;
  }
  100% {
    left: calc(100vw - 300px);
  }
}
@keyframes slide-rtl {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

.topbar-log {
  height: topbar-height;
  width: 100%;
  background-color: var(--q-theme-strong);
  display: flex;
  justify-content: flex-start;
}
[dir=ltr] .topbar-log {
  border-left: 1px solid var(--q-a-hover);
}
[dir=rtl] .topbar-log {
  border-right: 1px solid var(--q-a-hover);
}
.topbar-log button {
  color: var(--q-color-inverse);
  margin: 0 1rem;
}
[dir=rtl] .topbar-log button {
  transform: scale(-1, 1);
}


@media only screen and (min-width: tablet-max) {
  .log {
    position: initial;
    top: auto;
    left: auto;
  }

  .topbar-log button {
    display: none;
  }
}
