<aside local-class="aside {{if @showAside "show"}}" ...attributes>
  <div aria-hidden="true" local-class="topbar-aside" class="topbar">
    <button type="button" {{on "click" this.slideOut}}>
      {{fa-icon "angle-double-right"}}
    </button>
  </div>

  <div local-class="aside-content">
    <Aside />
  </div>
</aside>