@value aside-width from './layout-global.css';
@value tablet-max from './layout-global.css';


.aside {
  width: aside-width;
  height: 100vh;
  background-color: var(--q-nav-bg);
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 100;
}
.aside.show {
  animation: slide-ltr 0.5s ease-out;
  left: calc(100vw - aside-width);
}
.aside.show.out, .aside.out {
  animation: slide-out-ltr 0.5s ease-out reverse;
  left: 100vw;
}
[dir="rtl"] .aside.show {
  animation: slide-rtl 0.5s ease-out;
  left: 0;
}
[dir="rtl"] .aside.show.out {
  animation: slide-rtl 0.5s ease-out reverse;
  left: calc(aside-width * -1);
}

@keyframes slide-ltr {
  0% {
    left: 100vw;
  }
  100% {
    left: calc(100vw - aside-width);
  }
}
@keyframes slide-rtl {
  0% {
    left: calc(aside-width * -1);
  }
  100% {
    left: 0;
  }
}

.topbar-aside {
  width: 100%;
  background-color: var(--q-theme-strong);
  display: flex;
  justify-content: flex-start;
}
[dir=ltr] .topbar-aside {
  border-left: 1px solid var(--q-a-hover);
}
[dir=rtl] .topbar-aside {
  border-right: 1px solid var(--q-a-hover);
}


@media only screen and (min-width: tablet-max) {
  .aside {
    position: initial;
    top: auto;
    left: calc(100% - aside-width);
  }
  [dir=rtl] .aside {
    left: 0;
  }

  .topbar-aside button {
    display: none;
  }
}
