<aside local-class="log {{if @showLog "show"}}" ...attributes>
  <div aria-hidden="true" local-class="topbar">
    <button {{on "click" this.slideOut}}>
      {{fa-icon "angle-double-right"}}
    </button>
  </div>

  <div local-class="log-content">
    <Aside />
  </div>
</aside>