@value topbar-height from './tablet';

.nav {
  background-color: var(--q-bg);
  width: 300px;
  height: 100vh;
  z-index: 30;
  position: absolute;
  top: 0;
  left: -300px;
}
.nav.show {
  animation: slide-ltr 0.8s ease-out;
  left: 0;
}
.nav.show.out, .nav.out {
  animation: slide-ltr 0.8s ease-out reverse;
  left: -300px;
}
[dir="rtl"] .nav.show {
  animation: slide-rtl 0.8s ease-out;
  left: calc(100vw - 300px);
}
[dir="rtl"] .nav.show.out {
  animation: slide-rtl 0.8s ease-out reverse;
  left: 100vw;
}

@keyframes slide-ltr {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-rtl {
  0% {
    left: 100vw;
  }
  100% {
    left: calc(100vw - 300px);
  }
}

.topbar {
  composes: topbar from './tablet';
  height: topbar-height;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.topbar button {
  color: var(--q-color-inverse);
  margin: 0 1rem;
}
[dir=rtl] .topbar button {
  transform: rotate(180deg);
}
