@value topbar-height from './tablet';
@value nav-small-width from './tablet';

.nav {
  z-index: 10;
}

.nav-overflow {
  margin-top: topbar-height;
  height: 100vh;
  background: var(--q-nav-bg);
}

.nav-overflow.showall {
  width: 300px;
}

.main {
  grid-area: main;
  background: var(--q-bg);
}

.nav-fake-overflow {
  background:var(--q-nav-bg);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: -1;
  transform: translateX(0);
}
.nav-fake-overflow.in {
  left: calc(nav-small-width - 300px);
  animation: flowin-nav 0.8s;
}
.nav-fake-overflow.out {
  left: calc(nav-small-width);
  /*animation: flowout-nav 0.8s;*/
}

.topbar-nav {
  composes: topbar from './tablet';
  position: absolute;
  border-color: var(--q-a-hover);
  border-style: solid;
  border-width: 0;
  height: topbar-height;
  left: calc(nav-small-width - 300px);
  width: 300px;
  padding-inline-start: calc(300px - nav-small-width);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.topbar-nav button {
  color: var(--q-color-inverse);
  margin: 0 1rem;
}

.topbar-nav.increase {
  animation: flowin-nav 0.8s;
}

.topbar-nav.showall {
  transform: translateX(calc(300px - nav-small-width));
  justify-content: flex-end;
}

[dir="ltr"] .topbar-nav { border-right-width: 1px; }
[dir="rtl"] .topbar-nav { border-left-width: 1px; }

@keyframes flowin-nav {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(300px - nav-small-width));
  }
}

@keyframes flowout-nav {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(nav-small-width - 300px));
  }
}
