<div local-class="root">
  <div aria-hidden="true" local-class="topbar">
      <button {{on "click" (perform this.showLog)}}>
        {{fa-icon "history"}}
      </button>
  </div>
  <Layout::TabletNav local-class="nav" />
  <Layout::SlideLog local-class="log" />
  <main local-class="main">{{yield}}</main>
</div>