@value topbar-height: 3rem;
@value nav-small-width: 8rem;

.root {
  display: grid;
  grid-template:
    "nav topbar" topbar-height
    "nav main" minmax(calc(100vh - topbar-height), 1fr)
    / nav-small-width 1fr
}

.nav {
  grid-area: nav;
}

.topbar {
  grid-area: topbar;
  background: var(--q-theme-strong);
  display: flex;
  justify-content: flex-end;
}
.topbar button {
  color: var(--q-color-inverse);
  margin: 0 1rem;
}
[dir=rtl] .topbar button {
  transform: scale(-1, 1);
}
