<div local-class="root">
  <div aria-hidden="true" local-class="topbar-main" class="topbar">
    <Layout::DynamicAside />
  </div>
  <Layout::TabletNav local-class="nav" />

  {{#if this.asidePermanentVisible}}

  {{/if}}

  {{!-- <Layout::SlideLog local-class="log" @showLog={{this.showLog}} @slideLogOut={{this.slideLogOut}}  />
  <main local-class="main">{{yield}}</main> --}}
</div>