@value topbar-height: 5rem;
@value nav-small-width: 8rem;

.root {
  display: grid;
  grid-template:
    "nav topbar" topbar-height
    "nav main" minmax(calc(100vh - topbar-height), 1fr)
    / nav-small-width 1fr
}

.nav {
  grid-area: nav;
}

.topbar {
  grid-area: topbar;
  background: var(--q-theme-strong);
  color: var(--q-color);
}
