@value topbar-height: 3rem;
@value nav-small-width: 8rem;
@value nav-width: 300px;
@value log-width: 300px;
@value mobile-max: 768px;
@value tablet-max: 950px;
@value tablet2-max: 1200px;


.root {
  display: grid;
}

@media only screen and (max-width: tablet-max) {
  .root {
    grid-template-columns: nav-small-width calc(100% - nav-small-width);
    grid-template-rows: topbar-height auto;
    grid-template-areas:
      "nav topbar"
      "nav main";
    justify-content: stretch;
  }
}

@media only screen and (min-width: tablet-max) {
  .root {
    grid-template-columns: nav-small-width auto log-width;
    grid-template-rows: topbar-height auto;
    grid-template-areas:
      "nav topbar log"
      "nav main   log";
    justify-content: stretch;
  }
  .topbar-main button {
    display: none;
  }
}



.nav {
  grid-area: nav;
  width: nav-small-width;
  position: fixed;
}
.log {
  grid-area: log;
  position: fixed;
}
.main {
  grid-area: main;
}

.topbar-main {
  grid-area: topbar;
  background: var(--q-theme-strong);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: topbar-height;
}
.topbar button {
  color: var(--q-color-inverse);
  margin: 0 1rem;
}
[dir=rtl] .topbar button {
  transform: scale(-1, 1);
}
