<div local-class="user-info">
  <div local-class="icon"></div>
  User Name: ABC
  <div local-class="edit">
    {{fa-icon "edit"}}
  </div>
</div>

<div local-class="settings">
    <div class="cluster">Configuration</div>
    <a href="#" onclick="alert('Change Language')">Change Language</a>
    <a href="#" onclick="alert('Share Internet')">Share Internet</a>
    <a href="#" onclick="alert('Add Network Interface')">Add Network Interface</a>
</div>

<div local-class="info">
  <div class="cluster">Information</div>
  <a href="#" onclick="alert('About qaul.net')">About qaul.net</a>
  <a href="#" onclick="alert('How To')">How To</a>
  <a href="#" onclick="alert('Show Network')">Show Network</a>
</div>
