<div class="page" local-class="page">
  <div local-class="input-area">
    <input {{on "change" this.enterMessage}}>
    <button type="button" {{on "click" this.submit}}>{{t "send"}}</button>
  </div>

  <div local-class="messages">
    {{#each this.messages as |message|}}
      <Feed::Message @message={{message}} />
    {{/each}}
  </div>
</div>