[Desktop Entry]
Name=qaul.net – قول
Comment=Internet Independent Wireless Mesh Communication
Exec=qaul
Icon=${SNAP}/meta/gui/qaul.png
Terminal=false
Type=Application
Categories=Development;