.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 4rem;
  background-color: var(--q-nav-bg);
  border-top: 0.1rem solid var(--q-nav-border);
  text-align: center;
}

.nav-bar a {
  display:block;
  float:left;
  width:25%;
  margin:0;
  padding:0;
}

.nav-bar a:global(.active) {
  background-color:var(--q-nav-bg-active);
}
.nav-bar a:hover {
  background-color:var(--q-nav-bg-hover);
  text-decoration:none;
}
.nav-bar a:global(.active):hover {
  background-color:var(--q-nav-bg-active-hover);
}

.nav-bar a i {
  display:block;
  padding:1rem;
  border-left:0.1rem solid var(--q-nav-border);
  text-shadow: -1px -1px 0 var(--q-nav-icon-shadow);
  color: var(--q-nav-icon);
}
.nav-bar a:first-child i {
  border:0;
}
